{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid background">
        <div class="container">
            <h1 class="checkweather_slogan">Aktualna pogoda dla Warszawy</h1>
            <div id="date_container">

            </div>
            <div id="data_container">

            </div>
        </div>
    </div>
{% endblock %}