{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid background">
        <div class="row">
            <h1 class="checkweather_slogan">Sprawdz jaka bedzie pogoda</h1>
            <form action="" method="POST">

            </form>
        </div>
    </div>
{% endblock %}